<section id="projects">

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-4">
        <div class="box1">
          <div class="title">Swachh</div>
          <div class="image"><%= image_tag("swachh.png") %></div>
          <div class="description">A platform where citizens can participate in Swachh Bharat campaign and challenge their friends.</div>
          <div class="button">
            <a href="https://swachbharat.herokuapp.com/" target="_blank"><button type="button" class="btn btn-default">Demo</button></a>
            <a href="https://github.com/rajanjamu/SwachBharat" target="_blank"><button type="button" class="btn btn-default">Source Code</button></a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="box2">
          <div class="title">Scrumer</div>
          <div class="image"><%= image_tag("scrumer.png") %></div>
          <div class="description">Allows scrum-master to assign tasks to his team everyday and monitor their progress.</div>
          <div class="button">
            <a href="https://scrumer.herokuapp.com/" target="_blank"><button type="button" class="btn btn-default">Demo</button></a>
            <a href="https://github.com/rohitdg/scrumer" target="_blank"><button type="button" class="btn btn-default">Source Code</button></a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="box3">
          <div class="title">Flames</div>
          <div class="image"><%= image_tag("flames.png") %></div>
          <div class="description">Give your name and a person with whom you wish to know what Mr. Computer thinks about your relation.</div>
          <div class="button">
            <a href="https://rajanjamu-flames.herokuapp.com/" target="_blank"><button type="button" class="btn btn-default">Demo</button></a>
            <a href="https://github.com/rajanjamu/flamesGame_app"><button type="button" class="btn btn-default">Source Code</button></a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="box2">
          <div class="title">Portfolio Website</div>
          <div class="image"><%= image_tag("portfolio.png") %></div>
          <div class="description">The website that you see here was built from scratch at CodeAstra after series of iterations and practice.</div>
          <div class="button">
            <button type="button" class="btn btn-default">Demo</button>
            <a href="https://github.com/rajanjamu/rajanjamu_v4_app" target="_blank"><button type="button" class="btn btn-default">Source Code</button></a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="box3">
          <div class="title">Stanford Ignite</div>
          <div class="image"><%= image_tag("stanford.png") %></div>
          <div class="description">It is a certificate program that teaches innovators to formulate, develop and commercialize their ideas.</div>
          <div class="button">
            <button type="button" class="btn btn-default">Demo</button>
            <button type="button" class="btn btn-default">Source Code</button>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="box1">
          <div class="title">Techmet</div>
          <div class="image"><%= image_tag("helmet.png") %></div>
          <div class="description">A safety helmet, in case of serious accident, will send the location coordinates to police and ambulance services.</div>
          <div class="button">
            <button type="button" class="btn btn-default">Demo</button>
            <button type="button" class="btn btn-default">Source Code</button>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="box3">
          <div class="title">Robocon</div>
          <div class="image"><%= image_tag("robocon.png") %></div>
          <div class="description">An international autonomous robotics competition for Asia-Pacific Region. IIT Madras was declared as National Champion in 2009.</div>
          <div class="button">
            <button type="button" class="btn btn-default">Demo</button>
            <button type="button" class="btn btn-default">Source Code</button>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="box1">
          <div class="title">Self Balancing Robot</div>
          <div class="image"><%= image_tag("balance.png") %></div>
          <div class="description">Prototype for affordable personalized mobile vehicle for physically challenged.</div>
          <div class="button">
            <button type="button" class="btn btn-default">Demo</button>
            <button type="button" class="btn btn-default">Source Code</button>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="box2">
          <div class="title">Want to fly</div>
          <div class="image"><%= image_tag("wanttofly.png") %></div>
          <div class="description">An automated UAV (wingspan: 2.6m and weight: 10Kgs) designed to go through pre-defined coordinates.</div>
          <div class="button">
            <button type="button" class="btn btn-default">Demo</button>
            <button type="button" class="btn btn-default">Source Code</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  


</section>