<!DOCTYPE html>
<html>
<head>
  <title>Rajanjamu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'logo_64.png' %>
</head>
<body>

<%= render 'static_pages/sidebar' %>
<%= yield %>
<%= render 'layouts/google_analytics' %>

</body>
</html>
